* {
    text-align: center;
}

#mainTopic {
    color: blue;
}

h1, h3, h5 {
    font-family: Georgia;
}

.content {
    background-color: cornflowerblue;
    color: white;
}

div button {
    background-color: purple;
    color: azure;
}

button:hover {
    background-color: yellow;
    color: blue;
}

p:nth-last-of-type(2n+1) {
    color: yellow;
}

h1::first-letter {
    color: red;
}

#yes :checked + label {
    color: darkgreen
}