    * {
        font-family: 'Courier New';
    }
    h1 {
        color: #1b74e4;
    }
    #searchbtn {
        color: white;
        background-color: black;
    }
   .userbtn{
    background-color: aqua;
   }