.card {
    width: 400px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

img {
    width: 100%;
    border-radius: 25px;
}

h2 {
    color: blueviolet;
}

span {
    color: brown;
}

h4 {
    text-align: right;
    color: grey;
}

#eng {
    display: flex;
    justify-content: space-evenly;
}